*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-height: 3rem;
  --color-pink-light: #ff92d0;
  --color-pink: #ff79c6;
  --color-pink-dark: #e055a1;
  --color-green-200: #bbf7d0;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-dark: #282a36;
  --color-darker: #13151c;
  font-size: 1.25rem;
  --font-size-sm: 0.75rem;
  --rounding-sm: 0.25rem;
  --rounding: 0.375rem;
  --rounding-md: 0.5rem;
  --rounding-lg: 0.75rem;
}

body {
  margin: 0;
  padding: 3rem;
  font-family: system-ui, sans-serif;
  background-color: var(--color-dark);
  color: var(--color-dark);
  line-height: 1.5;
  display: grid;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

body * {
  font-family: system-ui, sans-serif;
}

body *:focus,
body *:focus-visible {
  box-shadow: 0 0 0 2px var(--color-pink-light);
  outline: 0;
}

input,
textarea {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  min-height: var(--input-height);
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: var(--rounding);
  outline: none;
}

textarea {
  min-height: calc(var(--input-height) * 4);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-pink-light);
}

textarea {
  height: 2rem;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: calc(100vw / 15);
}

.btn {
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background-color: var(--color-pink);
  color: white; /* text-white */
  border-radius: var(--rounding-sm);
  outline: none;
  border: none;
  cursor: pointer;
  width: max-content;
}

.btn:hover {
  background-color: var(--color-pink-dark);
}

.btn:focus,
.btn:focus-visible {
  outline: none; /* focus:outline-none */
  box-shadow: none;
}

.todo-title {
  min-height: var(--input-height);
  padding: 0;
  border: none;
  font-size: 1.75rem;
  font-weight: 800;
  display: block;
  border-radius: var(--rounding-sm);
}
.todo-desc {
  font-size: 1rem;
  display: block;
  padding: 1rem;
  border-radius: var(--rounding-sm);
  background-color: #f9f9f9;
}
.todo-item {
  padding: 1rem;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: var(--rounding-sm);
  display: grid;
  gap: 0.25rem;
  position: relative;
}

.task-list {
  display: grid;
  gap: 0.25rem;
}

.todo-inputs {
  display: grid;
  gap: 0.25rem;
}

.btn.todo-btn-delete {
  background-color: var(--color-red-600);
}
.btn.todo-btn-delete:hover {
  background-color: var(--color-red-700);
}

.btn.todo-btn-complete {
  background-color: var(--color-green-600);
}
.btn.todo-btn-complete:hover {
  background-color: var(--color-green-700);
}

.todo-control-buttons {
  display: flex;
  gap: 0.25rem;
}
.todo-control-buttons * {
  height: max-content;
}

.added-date {
  margin-right: auto;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  color: var(--color-pink-dark);
}
.added-date:before {
  content: 'ADDED: ';
  font-weight: 800;
}
.completed-date {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  color: var(--color-pink-dark);
}
.completed-date:before {
  content: 'COMPLETED: ';
  font-weight: 800;
}

.todo-controls {
  display: flex;
  align-items: center;
  place-items: end;
  justify-content: space-between;
}

/* START completed styles */
.todo-item.completed {
  background-color: var(--color-green-200);
  color: var(--color-green-900);
}
.todo-item.completed .added-date,
.todo-item.completed .completed-date {
  color: var(--color-green-900);
}
.todo-item.completed .todo-title:after {
  content: ' \2705';
}
.todo-item.completed .todo-desc {
  display: none;
}
.todo-item.completed .todo-btn-complete {
  background-color: var(--color-dark);
}
.todo-item.completed .todo-btn-complete:hover {
  background-color: var(--color-darker);
}
/* END completed styles */

.todo-dates {
  display: flex;
  flex-direction: column;
}
.todo-dates * {
  line-height: 0;
}

.todo-link {
  &:focus {
    box-shadow: none;
  }
  img {
    width: 40px;
    height: 40px;
  }
}