*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-height: 2rem;
  --color-green-200: #bbf7d0;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
}

body {
  margin: 0;
  padding: 3rem;
  font-family: system-ui, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.5;
  display: grid;
  gap: 1rem;
}

body * {
  font-family: system-ui, sans-serif;
}

input,
textarea {
  width: 100%;
  height: 100%;
  min-height: var(--input-height);
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem; /* rounded-md */
  outline: none;
}

textarea {
  min-height: calc(var(--input-height) * 2);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* focus:ring-2 focus:ring-blue-500 */
}

textarea {
  height: 2rem;
}

.btn {
  font-size: 0.75rem; /* text-xl */
  padding: 0.5rem 1rem;
  background-color: #3b82f6; /* bg-blue-500 */
  color: white; /* text-white */
  border-radius: 0.375rem; /* rounded-md */
  outline: none;
  border: none;
  cursor: pointer;
  width: max-content;
}

.btn:hover {
  background-color: #2563eb; /* hover:bg-blue-600 */
}

.btn:focus {
  outline: none; /* focus:outline-none */
}

.todo-title {
  font-size: 1.75rem;
  font-weight: 800;
  display: block;
}
.todo-desc {
  font-size: 1rem;
  display: block;
}
.todo-item {
  padding: 1rem;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem; /* rounded-md */
  display: grid;
  gap: 0.25rem;
  position: relative;
}
.todo-item.completed {
  background-color: var(--color-green-200);
  color: var(--color-green-900);
}
.todo-item.completed:after {
  content: '\2705';
  position: absolute;
  top: 5px;
  right: 5px;
}
.todo-item.completed .todo-desc {
  display: none;
}

.task-list {
  display: grid;
  gap: 0.25rem;
}

.todo-inputs {
  display: grid;
  gap: 0.25rem;
}

.btn.todo-btn-delete {
  background-color: var(--color-red-600);
}
.btn.todo-btn-delete:hover {
  background-color: var(--color-red-700);
}

.btn.todo-btn-complete {
  background-color: var(--color-green-600);
}
.btn.todo-btn-complete:hover {
  background-color: var(--color-green-700);
}
